body{
  overflow-x: hidden;
}

.splide .splide__pagination__page{
  background-color: #ccc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .wrapper {
    margin-inline: auto;
    width:clamp(16rem, 86vw, 85rem) ;
    padding-inline: clamp(0.8331rem, 0.8297rem + 0.0171vw, 0.8438rem);
    position: relative;
  }
  .text-stroke {
    font-weight: inherit;
    -webkit-text-stroke: 1.5px #18181b;
    color: transparent;
  }
  .dark .text-stroke{
    -webkit-text-stroke: 1.5px rgb(248 250 252);
  }

  .sr{
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.iti{
  width: 100%;
  display: block;
}
.dark .iti__country {
  color: #18181b;
}
